.university-image {
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.company-image {
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}