@import '~@fortawesome/fontawesome-free/css/all.css';

.App {
  text-align: center;
  transition: background-color .75s ease;
}

.App-link {
  color: #530d44;
}

.dark-mode .App-link {
  color: #c59ebd;
}

.light-mode {
  background-color: white; /* Light mode background color */
}

.dark-mode {
  background-color: #333; /* Dark mode background color */
}

.logo-container {
  /* display: flex; */
  justify-content: flex-end; /* Align logo to the right */
  margin-right: 50px; /* Adjust the margin as needed */
}

.logo-img {
  width: 400px; /* Adjust the width of the logo image */
  height: auto; /* Maintain aspect ratio */
}

/* .intro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.intro-container {
  display: flex;
  align-items: center;
} */

.text {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Adjust padding as needed */
  color: #333; /* Default text color */
}

.dark-mode .text {
  color: #ccc; /* Text color for dark mode */
}

.social-links {
  margin-top: 20px; /* Add space above the links */
}

.social-link {
  margin-right: 20px; /* Add space between the links */
}

.social-link i {
  font-size: 24px; /* Increase the size of the icons */
}

.nala-image {
  width: 250px; 
  height: auto; 
}